@import "ember-element.css";
@import "./layout.css";
@import "./container.css";
@import "./icon.css";
@import "./button.css";

:root {
  --brand-primary: #409eff;
}

.index-main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.demo-block .description {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  word-break: break-word;
  margin: 10px;
  background-color: #fff;
}
