<div class="el-card is-{{this.shadow}}-shadow" ...attributes>
  {{#if (has-block "header")}}
    <div class="el-card__header">
      {{yield to="header"}}
    </div>
  {{/if}}
  <div class="el-card__body" style={{this.bodyStyleString}}>
    {{yield}}
  </div>
</div>