<div role="radiogroup" class="el-radio-group" ...attributes>
  {{yield (hash
    Radio=(component "el-radio" group=this change=this.handleChange)
    RadioButton=(component "el-radio-button" group=this change=this.handleChange)
  )}}
</div>