<div role="radiogroup" class="el-radio-group">
  {{yield (hash
    Radio=(component "el-radio" disabled=@disabled value=@value size=@size onClick=this.updateValue)
    RadioButton=(component "el-radio-button" disabled=@disabled value=@value size=@size textColor=this.textColor fill=this.fill onClick=this.updateValue)
  )}}
</div>