<DocsHero />

<div style="max-width: 40rem; margin: 0 auto; padding: 0 1.5rem">
  <DocsDemo as |demo|>
    <demo.example @name="my-demo.hbs">
      <a href="https://github.com/ElemeFE/element" target="_blank">Element UI</a> is a popular UI toolkit for Vue.js. `ember-element` try to provide an implementation of `Element UI` in Ember.
    </demo.example>
  </DocsDemo>
</div>